<div @fade class="container-fluid wrapper">
  <div class="row">
    <div class="col col-sm-12 text-center">
      <h1>{{ 'Menu.Contacts' | translate }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col col-sm-12 text-center">
      <h3>{{ 'Contacts.Title' | translate }}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col col-sm-12 text-center contact">
      <a href="tel:+390173677468">
        <span class="glyphicon glyphicon-earphone icon-margin"> </span>
        +39 0173/677468</a>
    </div>
  </div>
  <div class="row">
    <div class="col col-sm-12 text-center contact">
      <a href="mailto:cantina@negrogiuseppe.com?subject=Richiesta informazioni">
        <span class="glyphicon glyphicon-envelope icon-margin"> </span>
        cantina@negrogiuseppe.com</a>
    </div>
  </div>
  <div class="row">
    <div class="col col-sm-12 text-center">
      <a href="https://www.facebook.com/cantinanegrogiuseppe/" target="blank" class="fa fa-facebook"></a>
      <a href="https://www.instagram.com/cantinanegrogiuseppe/" target="blank" class="fa fa-instagram"></a>
    </div>
  </div>
  <div class="row">
    <div class="col col-sm-12 text-center">
      <img src="assets/images/Background/where.jpg" class="center-block resize-image padding-image img-rounded">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center">
      <fb-comments></fb-comments>
    </div>
  </div>
</div>
