<div @fade class="container-fluid wrapper">
  <div class="row mt-5">
    <div class="col col-sm-12 text-center">
      <h1>{{ "Tasting.Title" | translate }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col col-sm-12 text-center">
      <img
        loading="lazy"
        src="assets/images/Tasting/imagecompressor/Mamma.jpg"
        alt="paesaggio con donna con calice di vino"
        class="center-block resize-image rounded"
      />
    </div>
  </div>
  <div class="row">
    <div class="col col-sm-12 text-center p-3">
      <h4>{{ "Tasting.1" | translate }}</h4>
    </div>
  </div>
  <div class="row">
    <div class="col col-sm-12 text-center">
      <img
        loading="lazy"
        src="assets/images/Tasting/imagecompressor/Crutin.jpg"
        alt="crutin cantinetta"
        class="center-block resize-image rounded"
      />
    </div>
  </div>
  <div class="row">
    <div class="col col-sm-12 text-center p-3">
      <h4>{{ "Tasting.2" | translate }}</h4>
    </div>
  </div>
  <div class="row">
    <div class="col col-sm-12 text-center">
      <img
        loading="lazy"
        src="assets/images/Tasting/imagecompressor/SalaDegustazione1.jpg"
        alt="sala degustazione monsu"
        class="center-block resize-image rounded"
      />
    </div>
  </div>
  <div class="row">
    <div class="col col-sm-12 text-center p-4">
      <h3>{{ "Tasting.Type" | translate }}</h3>
      <h4 class="tasting-type">{{ "Tasting.Pulin" | translate }}</h4>
      <div class="p-2">
        <p class="wine-list-item">Roero Arneis D.O.C.G. "Arbeuj"</p>
        <p class="wine-list-item">Dolcetto d’Alba D.O.C. "PianCavallo"</p>
        <p class="wine-list-item">Barbera d’Alba Superiore D.O.C. "Pulin"</p>
        <p class="wine-list-item">Barbaresco D.O.C.G. “PianCavallo”</p>
        <p class="wine-list-item">Grappa Monsú</p>
      </div>
      <h4 class="tasting-type">{{ "Tasting.Monsu" | translate }}</h4>
      <div class="p-2">
        <p class="wine-list-item">Roero Arneis D.O.C.G. "Arbeuj"</p>
        <p class="wine-list-item">MonsúRosé Langhe D.O.C. Rosato</p>
        <p class="wine-list-item">Dolcetto d’Alba D.O.C. "PianCavallo"</p>
        <p class="wine-list-item">Barbera d’Alba Superiore D.O.C. "Pulin"</p>
        <p class="wine-list-item">Monsú Langhe D.O.C. Nebbiolo</p>
        <p class="wine-list-item">Barbaresco D.O.C.G. "Gallina”</p>
        <p class="wine-list-item">Grappa Monsú</p>
      </div>
      <h4 class="tasting-type">{{ "Tasting.Vendemmie" | translate }}</h4>
      <div class="p-2">
        <p class="wine-list-item">Barbaresco D.O.C.G. "PianCavallo” 2012</p>
        <p class="wine-list-item">Barbaresco D.O.C.G. "PianCavallo" 2016</p>
        <p class="wine-list-item">Barbaresco D.O.C.G. "Gallina” 2017</p>
        <p class="wine-list-item">Barbaresco D.O.C.G. “PianCavallo“ 2018</p>
        <p class="wine-list-item">Barbaresco D.O.C.G. “Gallina“ 2019</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-sm-12 text-center">
      <h4>{{ "Tasting.3" | translate }}</h4>
      <h4>{{ "Tasting.4" | translate }}</h4>
    </div>
  </div>
  <div class="row p-3">
    <div class="col col-sm-12 text-center contact">
      <a href="tel:+390173677468">
        <fa-icon class="me-3" [icon]="faPhone"></fa-icon>
        +39 0173/677468</a
      >
    </div>
    <div class="col col-sm-12 text-center contact">
      <a
        href="mailto:cantina@negrogiuseppe.com?subject=Prenotazione degustazione"
      >
        <fa-icon class="me-3" [icon]="faEnvelope"></fa-icon>
        cantina@negrogiuseppe.com</a
      >
    </div>
  </div>
</div>
