<div class="container-md">
  <div class="row mt-3 mt-md-5">
    <div
      class="col-xs-12 col-sm-12 col-md-3 menu-wine school-options-dropdown text-center"
    >
      <div class="text-center d-none d-md-block">
        <h1>{{ "Wine.Title" | translate }}</h1>
      </div>
      <div class="list-group d-none d-md-block">
        <a
          (click)="resetDefaultFormat(wine.link)"
          id="{{ wine.id }}"
          class="wine-name {{ wine.class }} "
          *ngFor="let wine of winesList"
        >
          {{ wine.name }}
        </a>
      </div>
      <div class="dropdown d-md-none">
        <button
          class="btn dropdown-menu-list dropdown-toggle"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          {{ "Wine.Title" | translate }}
        </button>
        <ul
          class="dropdown-menu center-dropdown"
          aria-labelledby="dropdownMenuButton1"
        >
          <li *ngFor="let wine of winesList">
            <a
              (click)="resetDefaultFormat(wine.link)"
              id="{{ wine.id }}"
              class="dropdown-item wine-name {{ wine.class }}"
            >
              {{ wine.name }}
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div @thumbnailAnimation class="col-xs-12 col-sm-12 col-md-9 card">
      <div class="wine-row-generic">
        <div class="caption">
          <div class="row title-element">
            <div
              *ngIf="show075Formats && showFormats"
              class="col col-sm-12 text-center mt-2"
            >
              <h2>{{ "Wine.Name" | translate : wine }} 0.75 l</h2>
            </div>
            <div
              *ngIf="show075Formats && !showFormats"
              class="col col-sm-12 text-center mt-2"
            >
              <h2>{{ "Wine.Name" | translate : wine }}</h2>
            </div>
            <div *ngIf="show15Formats" class="col col-sm-12 text-center mt-2">
              <h2>{{ "Wine.Name" | translate : wine }} 1.5 l</h2>
            </div>
            <div *ngIf="show3Formats" class="col col-sm-12 text-center mt-2">
              <h2>{{ "Wine.Name" | translate : wine }} 3 l</h2>
            </div>
            <div *ngIf="show5Formats" class="col col-sm-12 text-center mt-2">
              <h2>{{ "Wine.Name" | translate : wine }} 5 l</h2>
            </div>
          </div>
          <div class="row margin-from-title">
            <div class="col-xs-12 col-md-4">
              <img
                loading="lazy"
                *ngIf="show075Formats"
                src="{{ wine.photo }}"
                alt="{{ wine.name }}"
                class="resize-image-wine img-rounded"
              />
              <img
                loading="lazy"
                *ngIf="show15Formats"
                src="{{ wine.photo15 }}"
                alt="{{ wine.name }}"
                class="resize-image-wine img-rounded"
              />
              <img
                loading="lazy"
                *ngIf="show3Formats"
                src="{{ wine.photo3 }}"
                alt="{{ wine.name }}"
                class="resize-image-wine img-rounded"
              />
              <img
                loading="lazy"
                *ngIf="show5Formats"
                src="{{ wine.photo5 }}"
                alt="{{ wine.name }}"
                class="resize-image-wine img-rounded"
              />
            </div>
            <div class="col-xs-12 col-md-8">
              <div class="back-trasparent">
                <p *ngIf="!isGrappa">
                  <b>{{ "Wine.Grape.Title" | translate : wine }}:</b>
                  {{ "Wine.Grape.Content" | translate : wine }}
                </p>
                <p *ngIf="!isGrappa">
                  <b>{{ "Wine.Fermentation.Title" | translate : wine }}:</b>
                  {{ "Wine.Fermentation.Content" | translate : wine }}
                </p>
                <p *ngIf="isGrappa">
                  <b>{{ "Wine.grapeDebris.Title" | translate : wine }}:</b>
                  {{ "Wine.grapeDebris.Content" | translate : wine }}
                </p>
                <p *ngIf="isGrappa">
                  <b>{{ "Wine.distillation.Title" | translate : wine }}:</b>
                  {{ "Wine.distillation.Content" | translate : wine }}
                </p>
                <p *ngIf="isGrappa">
                  <b>{{ "Wine.still.Title" | translate : wine }}:</b>
                  {{ "Wine.still.Content" | translate : wine }}
                </p>
                <p>
                  <b>{{ "Wine.Aging.Title" | translate : wine }}:</b>
                  {{ "Wine.Aging.Content" | translate : wine }}
                </p>
                <p>
                  <b>{{ "Wine.Characteristics.Title" | translate : wine }}:</b>
                </p>
                <ul>
                  <li>
                    {{ "Wine.Characteristics.Content1" | translate : wine }}
                  </li>
                  <li>
                    {{ "Wine.Characteristics.Content2" | translate : wine }}
                  </li>
                  <li>
                    {{ "Wine.Characteristics.Content3" | translate : wine }}
                  </li>
                </ul>
                <p>
                  <b>{{ "Wine.Notes.Title" | translate : wine }}:</b>
                  {{ "Wine.Notes.Content" | translate : wine }}
                </p>
                <small *ngIf="currentLang === 'it'">
                  <b>Norme ambientali:</b>
                  <small *ngIf="wine.id === 'monsuRose'">
                    bottiglia GL70 (vetro), capsula C/ALU90 (metallo), tappo
                    sughero FOR51 (organico). Per una corretta raccolta
                    differenziata verificare le disposizioni del proprio
                    comune.</small
                  >
                  <small
                    *ngIf="
                      wine.id === 'grappa' ||
                      (wine.id === 'monsuNebbiolo' && show15Formats)
                    "
                  >
                    bottiglia GL71 (vetro), capsula TIN42 (metallo), tappo
                    sughero FOR51 (organico). Per una corretta raccolta
                    differenziata verificare le disposizioni del proprio
                    comune.</small
                  >
                  <small *ngIf="show3Formats || show5Formats">
                    bottiglia GL71 (vetro), tappo sughero FOR51 (organico). Per
                    una corretta raccolta differenziata verificare le
                    disposizioni del proprio comune.</small
                  >
                  <small
                    *ngIf="
                      (show075Formats ||
                        (show15Formats && wine.id !== 'monsuNebbiolo')) &&
                      wine.id !== 'grappa' &&
                      wine.id !== 'monsuRose'
                    "
                  >
                    bottiglia GL71 (vetro), capsula C/ALU90 (metallo), tappo
                    sughero FOR51 (organico). Per una corretta raccolta
                    differenziata verificare le disposizioni del proprio
                    comune.</small
                  >
                </small>
              </div>
            </div>
          </div>
          <div *ngIf="showFormats" class="row">
            <div class="col-xs-12 text-center">
              <h4>{{ "FormatAvailable" | translate }}:</h4>
              <div class="btn-group w-100 mb-2" role="group">
                <button
                  *ngFor="let wineformat of wine.format; let i = index"
                  (click)="changeSlide(i)"
                  type="button"
                  class="btn list-group-item p-1 border"
                  [ngClass]="{
                    active:
                      ('0.75 l' === wineformat.value && show075Formats) ||
                      ('1.5 l' === wineformat.value && show15Formats) ||
                      ('3 l' === wineformat.value && show3Formats) ||
                      ('5 l' === wineformat.value && show5Formats)
                  }"
                  autofocus="autofocus"
                >
                  {{ wineformat.value }}
                </button>
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-xs-12 text-center">
              <a
                href="{{ wine.downloadPDF }}"
                class="btn my-btn-primary me-2 ms-2"
                role="button"
                download
                >{{ "Download.Profile" | translate }}</a
              >
              <a
                href="{{ wine.downloadZIP }}"
                class="btn my-btn-primary me-2 ms-2"
                role="button"
                download
                >{{ "Download.Image" | translate }}</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
