.resize-image-wine
	max-height: 400px
	max-width: 325px
	display: block
	margin-right: auto
	margin-left: auto
.margin-btn
	margin-bottom: 10px
.center-dropdown
	margin-left: -80px!important
.list-group-item
		background-color: #fff
		color: #074576
		border-color: #074576
		text-align: center
		&:hover
			background-color: rgb(97, 123, 141)
			color: #fff
			border-color: #074576
			text-align: center
.wine-name
		&:hover
			background-color: rgb(132, 153, 168)
.active
		background-color: #074576
		color: #fff
		border-color: #074576
		text-align: center
a
	&.gran-format
		border: 1px solid #074576
		background-color: #fff !important
		color: #4D4D4D !important
		margin-top: 10px
		text-align: center

.dropdown-menu-list
		background-color: #fff
		color: #074576
		border-color: #074576
		text-align: center
		&:hover
			background-color: rgb(97, 123, 141)
			color: #fff
			border-color: #074576
			text-align: center
