<div @fade class="container">
  <div class="row mt-5">
    <div class="col-xs-12 text-center">
      <h1>{{ "Wine.Title" | translate }}</h1>
    </div>
  </div>
  <div class="row wine-container">
    <div
      class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center"
      *ngFor="let wine of wines"
    >
      <div class="wine-row">
        <a>
          <div class="name">
            <h3 class="title-blue">{{ "Wine.Name" | translate : wine }}</h3>
          </div>
          <h4 class="title-blue">
            {{ "Wine.Grape.Content" | translate : wine }}
          </h4>
          <img
            loading="lazy"
            src="{{ wine.photo }}"
            alt="{{ wine.grape }}"
            class="center-block resize-image-bottle img-rounded"
          />
        </a>
        <div class="download-button d-lg-flex d-xl-flex d-xxxl-flex container">
          <div class="col-xs-6 text-center">
            <p>
              <a
                href="{{ wine.downloadPDF }}"
                class="btn my-btn-primary btn-responsive"
                role="button"
                download
                >{{ "Download.Profile" | translate }}</a
              >
            </p>
          </div>
          <div class="col-xs-6 text-center">
            <p>
              <a
                href="{{ wine.downloadZIP }}"
                class="btn my-btn-primary btn-responsive"
                role="button"
                download
                >{{ "Download.Image" | translate }}</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
