.fb-button {
  margin-top: 10px;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.my-btn-info {
  color: #fff;
  background-color: #074576;
  border-color: rgb(97, 123, 141);
  display: block;
  margin: 20px auto;
}

.link {
  font-size: 18px;
}

.icon-margin {
  margin-right: 5px
}

.powered-link {
  /* color: #fff; */
  font-weight: bold;
  font-size: 15px;
}

.powered {
  margin: 15px;
}
