<div class="container">
  <div class="row ">
    <div class="col-xs-12 col-sm-12 col-md-3 menu-wine school-options-dropdown text-center">
      <div class="text-center hidden-sm hidden-xs">
        <h1>{{ 'Wine.Title' | translate }}</h1>
      </div>
      <div class="list-group hidden-sm hidden-xs">
        <a routerLink="{{wine.link}}" (click)="resetDefaultFormat()" (mouseleave)="showFormat($event.currentTarget.id)"
          (mouseenter)="showFormat($event.currentTarget.id)" id="{{wine.id}}" class="wine-name {{wine.class}} " *ngFor="let wine of winesList">
          {{wine.name}}
        </a>
      </div>
      <div class="dropdown btn-group hidden-md hidden-lg">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="true">
          {{ 'Wine.Title' | translate }}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu center-dropdown" aria-labelledby="dropdownMenu1">
          <li *ngFor="let wine of winesList">
            <a routerLink="{{wine.link}}" (mouseleave)="showFormat($event.currentTarget.id)" (mouseenter)="showFormat($event.currentTarget.id)"
              id="{{wine.id}}" class="wine-name {{wine.class}}">
              {{wine.name}}
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-9 ">
      <div @thumbnailAnimation class="thumbnail wine-row-generic">
        <div class="caption">
          <div class="row title-element">
            <div *ngIf="show075Formats && showFormats" class="col col-sm-12 text-center">
              <h2> {{ 'Wine.Name' | translate:wine }} 0.75 l</h2>
            </div>
            <div *ngIf="show075Formats && !showFormats" class="col col-sm-12 text-center">
              <h2> {{ 'Wine.Name' | translate:wine }}</h2>
            </div>
            <div *ngIf="show15Formats" class="col col-sm-12 text-center">
              <h2> {{ 'Wine.Name' | translate:wine }} 1.5 l</h2>
            </div>
            <div *ngIf="show3Formats" class="col col-sm-12 text-center">
              <h2> {{ 'Wine.Name' | translate:wine }} 3 l</h2>
            </div>
            <div *ngIf="show5Formats" class="col col-sm-12 text-center">
              <h2> {{ 'Wine.Name' | translate:wine }} 5 l</h2>
            </div>
          </div>
          <div class="row margin-from-title">
            <div class="col-xs-12 col-md-4">
              <img *ngIf="show075Formats" src={{wine.photo}} alt={{wine.name}} class="center-block resize-image-wine img-rounded">
              <img *ngIf="show15Formats" src={{wine.photo15}} alt={{wine.name}} class="center-block resize-image-wine img-rounded">
              <img *ngIf="show3Formats" src={{wine.photo3}} alt={{wine.name}} class="center-block resize-image-wine img-rounded">
              <img *ngIf="show5Formats" src={{wine.photo5}} alt={{wine.name}} class="center-block resize-image-wine img-rounded">

            </div>
            <div class="col-xs-12 col-md-8">
              <div class="back-trasparent">

                <p *ngIf="!isGrappa">
                  <b>{{ 'Wine.Grape.Title' | translate:wine }}:</b> {{ 'Wine.Grape.Content' | translate:wine }}</p>
                <p *ngIf="!isGrappa">
                  <b>{{ 'Wine.Fermentation.Title' | translate:wine }}:</b> {{ 'Wine.Fermentation.Content' |
                  translate:wine }}</p>
                <p *ngIf="isGrappa">
                  <b>{{ 'Wine.grapeDebris.Title' | translate:wine }}:</b> {{ 'Wine.grapeDebris.Content' |
                  translate:wine
                  }}</p>
                <p *ngIf="isGrappa">
                  <b>{{ 'Wine.distillation.Title' | translate:wine }}:</b> {{ 'Wine.distillation.Content' |
                  translate:wine }}</p>
                <p *ngIf="isGrappa">
                  <b>{{ 'Wine.still.Title' | translate:wine }}:</b> {{ 'Wine.still.Content' | translate:wine }}</p>
                <p>
                  <b>{{ 'Wine.Aging.Title' | translate:wine }}:</b> {{ 'Wine.Aging.Content' | translate:wine }}</p>
                <p>
                  <b>{{ 'Wine.Characteristics.Title' | translate:wine }}:</b>
                </p>
                <ul>
                  <li>{{ 'Wine.Characteristics.Content1' | translate:wine }}</li>
                  <li>{{ 'Wine.Characteristics.Content2' | translate:wine }}</li>
                  <li>{{ 'Wine.Characteristics.Content3' | translate:wine }}</li>
                </ul>
                <p>
                  <b>{{ 'Wine.Notes.Title' | translate:wine }}:</b> {{ 'Wine.Notes.Content' | translate:wine }}</p>
              </div>
            </div>
          </div>
          <div *ngIf="showFormats" class="row">
            <div class="col-xs-12 text-center">
              <h4>{{ 'FormatAvailable' | translate }}:</h4>
              <div class="btn-group btn-group-justified margin-btn" role="group" aria-label="...">
                <div *ngFor="let wineformat of wine.format ; let i = index" (click)="changeSlide(i)" class="btn-group"
                  role="group">
                  <button type="button" class="btn btn-default" autofocus="autofocus"> {{ wineformat.value}} </button>
                </div>
              </div>

            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 text-center">
              <p>
                <a href="{{wine.downloadPDF}}" class="btn my-btn-primary" role="button" download>{{ 'Download.Profile'
                  | translate }}</a>
                <a href="{{wine.downloadZIP}}" class="btn my-btn-primary" role="button" download>{{ 'Download.Image' |
                  translate }}</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
