<div
  id="carouselExampleIndicators"
  class="carousel slide carousel-fade"
  data-bs-ride="carousel"
  data-bs-touch="true"
  data-bs-interval="5000"
>
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="3"
      aria-label="Slide 4"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="assets/images/Carousel/imagecompressor/Portone.JPG"
        alt="portone cantina negro"
        class="d-block w-100"
      />
    </div>
    <div class="carousel-item">
      <img
        src="assets/images/Carousel/imagecompressor/Neve.jpg"
        alt="paesaggio innevato"
        class="d-block w-100"
      />
    </div>
    <div class="carousel-item">
      <img
        src="assets/images/Carousel/imagecompressor/SalaDegustazione2.jpg"
        alt="sala degustazione"
        class="d-block w-100"
      />
    </div>
    <div class="carousel-item">
      <img
        src="assets/images/Carousel/imagecompressor/VigneAutunno.jpg"
        alt="vigne langhe in autunno"
        class="d-block w-100"
      />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div @fade class="container-fluid">
  <div class="row">
    <div class="hidden-xs col-sm-3 text-center no-padding">
      <div class="text-center mt-4 mt-md-5">
        <h1>{{ "Wine.Title" | translate }}</h1>
      </div>
      <ul class="nav flex-column">
        <li
          *ngFor="let wine of winesList"
          class="list-wines nav-item rounded"
          (mouseleave)="showFormat(wine.name)"
          (mouseenter)="showFormat(wine.name)"
          id="ID_{{ wine.name }}"
          role="navigation"
        >
          <a routerLink="{{ wine.link }}" class="wines-element nav-link">
            {{ wine.name }}
          </a>
        </li>
      </ul>
    </div>
    <div class="col-sm-9 left-line">
      <div class="row">
        <div class="col col-sm-12 text-center mt-4 mt-md-5 mb-2 mb-md-3">
          <h1>{{ "Home.Winery.Title" | translate }}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 text-center">
          <h4>{{ "Home.Winery.1" | translate }}</h4>
          <img
            @fade
            loading="lazy"
            src="assets/images/Winery/imagecompressor/Botti.jpg"
            alt="botti di vino in cantina"
            class="center-block resize-image rounded"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 text-center">
          <h4>{{ "Home.Winery.2" | translate }}</h4>
          <img
            loading="lazy"
            src="assets/images/Large formats/imagecompressor/MagnumAromatiche.jpg"
            alt="magnum aromatiche grandi formati"
            class="center-block resize-image rounded"
          />
        </div>
      </div>
      <div class="row">
        <div class="col col-sm-12 text-center mt-4 mt-md-5 mb-2 mb-md-3">
          <h1>
            {{ "Home.Tradition.Title" | translate }}
          </h1>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-12 text-center">
            <h4>{{ "Home.Tradition.1" | translate }}</h4>
            <img
              loading="lazy"
              src="assets/images/Tradition/imagecompressor/Famiglia.jpg"
              alt="tradizioni di famiglia"
              class="center-block resize-image rounded"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 text-center">
          <h4>{{ "Home.Tradition.2" | translate }}</h4>
          <img
            loading="lazy"
            src="assets/images/Tradition/tradizione.jpg"
            alt="tradizioni di famiglia storica"
            class="center-block resize-image-magnum rounded"
          />
        </div>
      </div>
    </div>
  </div>
</div>
